.TodoFilter{
    position: relative;
    width: 100%;
}

.TodoContainer{
    position: absolute;
    top: 16px;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffff;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
    border-radius: 5px;

}

.TodoContainer button{
    box-sizing: border-box;
    background: none;
    border:1px solid transparent;
    color: #9495A5;
}

.TodoFilter--all{
    margin-right: 20px;
}

.TodoFilter--completed{
    margin-left: 20px;
}


.TodoFilter--active:hover{
    color: #3A7CFD;
    border: 1px solid #3A7CFD;
}

.TodoFilter--all:hover{
    color: #3A7CFD;
    border: 1px solid #3A7CFD;
}

.TodoFilter--completed:hover{
    color: #3A7CFD;
    border: 1px solid #3A7CFD;
}