.TodoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFFF;
    border-bottom: 1px solid #E3E4F1;
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 400;
    opacity: 0;               /* Inicialmente, establece la opacidad en 0 */
    transform: translateY(-10px); /* Mueve el elemento hacia arriba */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Agrega transiciones */
}

.TodoItem-entered {
    opacity: 1;               /* Cuando el elemento está completamente visible */
    transform: translateY(0);   /* Restaura la posición original */
  }

.TodoItem--dark{
    background-color: #25273D;
    color: #C8CBE7;
    border-bottom: 1px solid  #393A4B;
}

.TodoItem button {
    padding: 0;
    height: 24px;
    background: none;
    border: none;
}

.TodoItem p{
    width: 68%;
    word-wrap: break-word;
}

.TodoItem .TodoItem__text--underline{
    text-decoration: line-through;
    color: #D1D2DA;
}
.TodoItem--dark .TodoItem__text--underline{
    text-decoration: line-through;
    color: #767992
}



.TodoItem,.TodoItem--dark{
    animation: desvanecer 0.5s ease;
}

@media (min-width: 440px) {
    .TodoItem p{
        width: 75%;
    }
  }

@media (min-width: 560px) {
  .TodoItem p{
      width: 80%;
  }
}

@media (min-width: 992px) {
    .TodoItem{
        height: 63px;
    }
    .TodoItem p{
        font-size: 18px;
    }
  }