.CheckButton{
    margin-left: 20px;
}

.CheckButton svg #check{ 
   visibility: hidden;
}

.CheckButton:hover svg #check{
    visibility: visible;
}

.CheckButton--active svg #check{
    visibility: visible;
}