.Note{
    position: relative;
    width: 100%;
}

.Note .Note__text{
    position: absolute;
    width: 100%;
    top: 106px;
    color: #9495A5;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: 400;
}