.TodoFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 400;
}

.TodoFooter__Counter{
    margin-left: 20px;
    color: #9495A5;
}

.TodoFooter--completed{
    margin-right: 20px;
    height: 100%;
    background-color: #ffff;
    border: none;
    color: #9495A5;
    font-family: Josefin Sans;
    font-size: 12px;
    font-weight: 400;
}

.TodoFooter--completed:hover{
    color: #3A7CFD;
}